* {
	box-sizing: border-box;	
}

body {
  background-color: gray;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#app {
  margin: 0 auto;
}

.contactForm {
  background: #382F2B;
  padding: 20px;
}
input,
button {
  padding: 10px;
  margin: 5px 5px;
}
button {
  background-color: #000;
  color: #fff;
  display: inline;
  margin-left: 15px;
  cursor: pointer;
  border: solid 1px #fff;
}
.contactItem {
  padding: 10px;
  margin: 5px 0;
  background-color: #F1F5F9;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.contactItem img {
  float: left;
  width: 100px;
}
